

@mixin input-focus($w, $h, $color, $err){
  position: relative;
  input{
    outline:none;
    -webkit-appearance: none;
    margin-top: $h;
    display: block;
    width: $w;
    font-size: $h*0.45;
    border:0;
    border-bottom: 1px solid #ccc;
    line-height: $h;
    &:focus{ 
      color: #191919;
      border-bottom: 1px solid $color;
    }
    & ~ label{
      position: absolute;
      left: 0px;top:0;
      pointer-events:none;
      transition: all .3s;
      line-height: $h;
      color: #808080;
    }
    &:focus ~ label,&:valid ~ label{
      top: -30px;
      font-size: 12px;
      color: $color;
    }
  }
  &.error input{
    color: $err;
    border-color:$err; 
    &:focus ~ label,&:valid ~ label{ color:$err; }
  }
}

@mixin button( $bg, $hover_bg, $color, $hover_color ){
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  background: $bg;
  color: $color;
  cursor: pointer;
  &:hover{
    background: $hover_bg;
    color: $hover_color;
  }
}

[data='input-focus']{
  @include input-focus(100%,40px,#0096ff,#f00);
}

.btns{ text-align:center; }
.btn{
  margin-top: 20px;
  clear: both;
  padding: 0 10px;
  line-height:30px;
  @include button(#1177ee,#0066ff, #fff,#fff);
  &.disable{
    background-color: #ccc;
  }
}
