@import "reset";
@import "susy";
@import "setting";
@import "function";
@import "extend";
@import "mixin";

@import "input";
@import "breakpoint";
@import "icon";

html,body {
	-webkit-text-size-adjust: 100%;
	font-family: "Microsoft JhengHei", "Apple LiGothic Medium", "sans-serif", "serif";
	color: #000;
	font-size: 16px;
}
header{
	line-height: rem(60px);
	font-size: rem(20px);
	color: #fff;
	text-align: center;
	background-color: #0096ff;
}
.container{
	@include container( rem(680px) );
}
.form{
	@extend %clear;
}
@for $i from 1 through 24{
	.col-#{$i}{
		@include span($i);
	}
}

